.project_card{
    width: 25rem;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #0305367d;
}

.language{
    padding: .5rem 1.5rem;
    background:linear-gradient(to bottom,#0c0f70b7,#07094b7d);
    border-radius: 10px;
}

.view_btn{
    padding: .5rem 2rem;
    background:linear-gradient(to bottom,#0c0f70b7,#07094b7d);

}